.country{
    border: 2px solid blue;
    margin: 20px;
    padding:20px ;
    border-radius: 20px;
    background-color: blanchedalmond;
}   

.country-visited{
    border: 2px solid red;
    margin: 20px;
    padding:20px ;
    border-radius: 20px;
    background-color: skyblue;
}   
